<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesLogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc6659b6c4.js" crossorigin="anonymous"></script>
    <link href="https//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    
    <title>Ingresa a tu cuenta</title>
</head>
<body>

    <header>
        <div class="caja-header">
        <div class="cabecera">
            <a href="./"><img class="logo" src="./images/logo-mercado-liebre.svg"></a>

            <input type="search" name="Busqueda" placeholder="Buscar productos, marcas">
            <article class="top">
                <p>
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de credito</p>
                
            </article>
            
        </div>
        <div class="seccionNav">
        <nav class="site">
            <ul class="nav-izq">
                <li class="login"><a href="#">Ofertas</a></li>
                <li><a href="#Tiendas oficiales">Tiendas oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
       </nav>
        
        <nav class="login">
            <ul class="der-nav">
                <li><a href="./register">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="./login">Ingresa</a><i class="fas fa-chart-line"></i></li>
                <li><a href="#Mis compras">Mis compras</a><i class="fas fa-cart-arrow-down"></i></li>
                
            </ul>
        </nav>
    </div>
         <div class="burger-menu">
             <i class="fas fa-bars"></i>
        </div>
            
        
    </div>
        </header>

    <form class="loginForm">
        <label for="">Usuario:</label>
        <input type="text" name="user">

        <label for="">Contraseña:</label>
        <input type="password" name="password">

        <button class="buttonlogin" type="submit">Ingresar</button>
    </form>

    <footer>

        <article class="art-footer">
            <i class="fas fa-credit-card"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article class="art-footer">
            <i class="fas fa-gift"></i>
            <h3>Envio gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></article>
        
        
         <article class="art-footer">
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>  
        
        
        <article class="art-footer"><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></article>
            
    </footer> 
</body>
</html>