*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body{
    background-color:#666;
    }
header{
    background-color:#EAC926;
    width:100%;
    padding: 10px;
}
input{
    border:none;
}

a{
    color:black;
    font-style: normal;
    text-decoration: none;
    transition: all 0.5s
    
}

a:hover{
    color:#666666;
}

nav .site, .login{
    color:#666666;
}

main{
    text-align: center;
    width: 100%;
    background-color:#ebebeb
}
h2{
    font-size: 24px;
    padding: 25px ;
}

h4{
    font-size: 16px;
}

h3{
    font-size: 18px;
}

p{
    font-size: 12px;
}

.busqueda{
    width: 20vw;
    border-radius: 5px;
    padding: 5px
}
.burger-menu{
    background-color:#03264C;
    color:blanchedalmond;
    width: 20px;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    
;}

footer{
text-align: center;
margin: 100px;
}

.productosDetalles{
    margin:10px;
    border-top: 1px solid #ebebeb;
    padding-left:15px;
    padding-right:15px;
    background-color:white;
    padding-bottom: 10px;
    width: 45%;
    align-items:center;
    
}

.imgProductos{
    width:100%;
}
.top{
    text-align: center
}



article i.fas{
color: #03264C;
}

.art-footer{
    text-align: center;
    margin:5px;
}
.precioDescuento{
    display:flex;
    flex-wrap:wrap;
    
}

.precio{

padding-right: 10px;
}
.descuento{

padding-left: 5px;
color: #39b54a;
}
.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 80%;
    top: -25px;
    align-self: right;
    color:#39b54a
    
}

.fa-search{
border: none;
position:relative;
left: -30px;
}

.fa-search:hover{
    color:#EAC926;
}

.logo{
    width: 200px;}

ul{
        list-style:none}

.fa-gift, .fa-user-shield, .fa-credit-card{
    transition: all 0.5s
}
.fa-gift:hover{
    color:#EAC926
}
 
.fa-user-shield:hover{
    color:#EAC926
}

.fa-credit-card:hover{
    color:#EAC926
}

/*celular*/
@media(max-width: 426px)  {
    .descripcion{
        display: none;

    }
    .site {
        display: none;
    }

    .cabecera{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding:10px;
    }

    .busqueda{
        width:60vw;
    }

    .busquedaCaja{
        display:flex;
        margin: 5px
        ;
    }

    .login {
        display: none;
    }

    .productosDetalles{
        margin:10px;
        border-top: 1px solid #ebebeb;
        padding-left:15px;
        padding-right:15px;
        background-color:white;
        padding-bottom: 10px;
        width: 100%;
        align-items:center;
    }
    
    .art-footer{
        text-align: center;
        margin:15px;
    }

    
}

/*tablet*/
@media(min-width:427px) and (max-width:768px){
    .productosUltimaVista, .ofertas{
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items:stretch;
    }

    

    header{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
   

    .cabecera{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        justify-content:space-between;
        align-items:center;
    }

    .busqueda{
        width: 35vw;
    }
    .busquedaCaja{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        justify-content:space-between;
        align-items:center;
        
    }
    .productosDetalles{
        margin:10px;
        border-top: 1px solid #ebebeb;
        padding-left:15px;
        padding-right:15px;
        background-color:white;
        padding-bottom: 10px;
        width: 40%;
        justify-content: center;
        align-items:stretch;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header{
        display: flex;
        flex-wrap: nowrap;
    }

    .nav-izq{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .der-nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .seccionNav{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        justify-content:flex-start;
        align-items:center;
    }
    li a{
padding: 10px;
    }

    .burger-menu{
        display:none;
    }

}

/*desktop*/
@media(min-width: 769px)  {
    .burger-menu{
        display: none;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .productosUltimaVista, .ofertas{
        display:flex;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items:stretch;
        margin: 20px;
    
    }

    .productosDetalles{
        margin:10px;
        border-top: 1px solid #ebebeb;
        padding-left:15px;
        padding-right:15px;
        background-color:white;
        padding-bottom: 10px;
        width: 20%;
        justify-content: center;
        align-items:stretch;
        transition: all 0.5s
    }

    .productosDetalles:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

    
    .nav-izq{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .der-nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .seccionNav{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        justify-content:space-between;
        align-items:center;
    }

    li a{
padding: 10px;
    }

    .logo{
        width: 30vw;
    }

    .cabecera{
        display: flex;
        flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
       padding-top: 10px;
       padding-bottom: 20px
    }

    input{
        height: 30%;
        width: 10%;
    }

    .descripcion{
        opacity: 0;
    }
    .descripcion:hover{
        opacity:1;
        transition: all 0.5s;
    }

    .fa-truck{
        transition:all 0.5s;
    }

    .fa-truck:hover{
        transform: rotate(-90deg);
    }

    /*footer*/
   .art-footer{
       width: 30%;
       padding: 10px;
      
   }
    .footer-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 20px;
        
    }

    .footer-chico{
        display: flex;
    }
    .footer-chico h3{
        font-size: 14px;
        font-weight:lighter

    }
}